[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="mysql.ags81.online"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[install]
WantedBy=multi-user.target

